/* assets/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'Noto Sans',"sans-serif";
    src: url('/fonts/notosans.woff2') format('woff2'),
         url('/fonts/notosans.woff') format('woff'),
         url('/fonts/notosans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

